# This file will prevent Git from adding files that match the following
# patterns to the repository. If you need to add a file anyway, you can
# use 'git add -f [file]'

# Text editor swap files
*.swp
*.swo
*~

# Compiled binary files
*.o
